.conteiner{
    display: flex;
    justify-content: center;
    background-color: black;
    width: 100%;
    margin-top: 2rem;
}
.footer{
    margin: 1rem 0;
    gap: 3rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);/*3 colunas um para cada div*/
    
}

.footer01 h3, .footer02 h3, .footer03 h3{
    color: var(--color-special);
    font-size: 1.2rem;
}

.description{
    text-decoration: none;
    color: white;
}

/*=================================================Responsive 488px==============================================*/

@media (max-width:488px){
    .footer{

        grid-template-columns: repeat(1,1fr);/*3 colunas um para cada div*/

    }
}