@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=GFS+Neohellenic:wght@400;700&display=swap');

* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color-scheme: dark;
}

html{
  scroll-behavior: smooth;
}

:root {
  --color-light-050: #FFF8F3;

  --color-dark-800: #131317;

  --color-special:goldenrod;

}


